<!doctype html>
<html>
      <head>   </head>

      <body> <h3><center><form action=""  method="POST">
	
		{{ form.csrf_token }}

	{% for message in get_flashed_messages() %}
  
       		 {{ message }} 

	{% endfor %}
	
	<br><br>

	<table  border=".5" bgcolor="#FDFEFE" bordercolor="#EBE6F1" cellspacing="5" cellpadding="10">

		<tr> 	<td align="center"> <b> <font color="red"> LOGIN  </b></td> </tr>

		

		<tr>	<td>   	{{ form.username.label }}<br>{{ form.username }}

  			  	{% for error in form.username.errors %}

   					<br><font color="red">{{ error }}</font>

  		    		{% endfor %}

           		</td>

			
		</tr>

		<tr>    <td>   	{{ form.parola.label }}<br>{{ form.parola }}
		
                 		{% for error in form.parola.errors %}
        	
                			<br><font color="red">{{ error }}</font>
	
   		  		{% endfor %}
			</td>
		
		</tr>

		        
		<tr> 	<td align="center"> {{ form.submit }} </td> </tr>
	</table>	
     </form>

     <a href = "{{url_for('index') }}">Ana Sayfa</a>

</center> </h3>  </body>
</html>
